<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Visitator</title>
	<link rel="stylesheet" href="visitator.css">

</head>
<body>
	<header id="wellcome">
			<h1><b>Wellcome to <span style="color:#AECFA2">V</span>isitator!</b>
			<form style="float: right; margin-right:10px" method="post" action="">
				<input type="text" name="login" placeholder="Login">
				<input type="text" name="password" placeholder="Password">	
				<input type="submit" name="submit" value="Submit" >
			</form>
			</h1>
			
	</header>

	<nav style="padding-left:0px">
		<ul id="menu">
		  <li><a href="" >Trends</a></li>
		  <li><a href="statistics.html">Statistic</a></li>
		  <li><a href="" >Other</a></li>
		  <li><a href="">Archieves</a></li>
		</ul> 
	</nav>
	
	<section>
	 	<img src="/resources/university.jpg" alt="Students near university" width="1060" height="730" name="asd">
	</section>
	
	
	

	
	<footer>Copyright © me 2015</footer>
</body>

</html>