<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Visitator</title>
	<link rel="stylesheet" href="main.css">
	<style>
	header {
	background-color:black;
	color:orange;
	padding:5px;
}
	</style>
</head>
<body>
	<header>
			<h1>Wellcome to Visitator, my friend!</h1>
	</header>

	<nav>
		<ul>
			<li>Home</li>
			<li>About</li>
		</ul>
	</nav>
	
	<section>
		<article>
			<header >
				<hgroup>
					<h1 class="test">Title of Article</h1>
					<h2 class="hm">Subtitile for Article!</h2>
				</hgroup>
			</header>
			
			<p>Article example</p>
			
			<footer>
				<p>- footer stuff here -</p>
			</footer>
		</article>
		
		<article>
			<header>
				<hgroup>
					<h1>Title of Article2</h1>
					<h2>Subtitile for Article2!</h2>
				</hgroup>
			</header>
			
			<p name>Article2 example</p>
			
			<footer>
				<p>- footer stuff here -</p>
			</footer>
		</article>
	
	</section>
	
	
	<aside>
		<h4>News</h4>
		Check out new visitator version!
	</aside>
	
	<footer>Copyright me 2015</footer>
</body>

</html>